<!DOCTYPE html>
<html>

  <form action="/square/results">
    <label for="number">Enter a number</label>
    <input id="number" type="number" name="number" placeholder="What number do you want to square?" required>
    <button>Calculate square</button>
  </form>
</body>
</html>
