<h1>Monthly Payment</h1>

<p>Your APR (monthly) is: <%= @apr %></p>
<p>Based on the provided inputs:</p>
<ul>
  <li>Years Remaining: <%= @years %></li>
  <li>Principal: <%= @present_value.to_fs(:currency) %></li>
</ul>

<p>Your monthly payment is: <%= @payment %></p>

<a href="/payment/new">Calculate again</a> | <a href="/">Go back</a>
