<h1>Square a Number</h1>
<form action="/square/results">
  <label for="number">Enter a number:</label>
  <input id="number" type="number" name="number" step="any" required>
  <button>Calculate Square</button>
</form>
<a href="/">Go back</a>
