<h1>Find the Square Root</h1>
<form action="/square_root/results">
  <label for="number">Enter a number:</label>
  <input id="number" type="number" name="number" step="any" required>
  <button>Calculate Square Root</button>
</form>
<a href="/">Go back</a>
